/* General body styling */
body {
    font-family: 'Lato', 'Roboto', sans-serif; 
    background-color: #1e1e2f;
    margin: 0;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    overflow: hidden; /* Prevents scrolling */
}

/* Header styling */
header {
    background: #007bff;
    color: #fff;
    padding: 15px 20px;   
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: auto;
    display: flex;            
    align-items: center;      
    justify-content: space-between; 
}


header h1 {
    margin: 0;          
    font-size: 2em;
    flex: 1;             
    text-align: center; 
}

header .currency-choice {
    gap: 10px;  
    margin-left: auto;      
    display: flex;
    align-items: center;
}


header .currency-choice img {
    width: 50px;
    cursor: pointer;
}

header .currency-choice img#doubloonsButton {
    animation: jump 1s infinite; 
}

@keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); } 
    100% { transform: translateY(0); }
}

/* Main section styling */
main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px; 
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    max-width: 400px;
    background: #d5d0d0;
    padding: 10px; /* Reduced padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

.input-group {
    margin: 5px 0; /* Reduced margin */
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Standard syntax */
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: block;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
    margin: 0;
}

input[type="number"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px; /* Reduced padding */
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    font-size: 1em;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Change output styling */
.change-output {
    width: 45%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d5d0d0;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    position: relative;
}

.change-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.change-group p {
    margin: 5px 0; /* Reduced margin */
    font-size: 1.1em;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; /* Reduced margin */
}

.category h3 {
    margin-bottom: 10px;
    color: #007bff;
    text-align: center;
}

.denomination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.money-img {
    width: 55px; 
    height: 50px; 
    position: relative;
    transition: transform 0.3s ease;
    margin-top: -20px; 
    display: block;
}

.money-img.dollar {
    animation: slideInLeft 0.5s ease forwards;
}

.money-img.cent {
    animation: slideInRight 0.5s ease forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.images-container {
    display: flex;
    flex-direction: column; /* Change to column to stack images */
    align-items: center;
    margin-bottom: 0;
    width: 100%; /* Ensure the container takes full width */
}

.count-label {
    font-size: 14px;
    text-align: center;
    display: block;
    font-weight: bold;
    color: #555;
    z-index: 1;
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.toggle-view {
    bottom: 5px; 
    right: 10px;  
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px; /* Adjusted padding to shrink the button */
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    min-width: auto; /* Set a minimum width to prevent the button from becoming too small */
}

.toggle-view:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Responsive adjustments */
@media (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .input-section, .change-output {
        width: 80%;
    }
}

/* Footer styling */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #007bff;
    color: white;
    text-align: center;
    padding: 10px; /* Reduced padding */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Reduced margin */
    width: 100%;
    max-width: 400px;
    margin: 35px auto;
}

#totalChangeOutput {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    flex: 1;
}
